* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --blue: #0065FC;
    --light-blue: #DEEBFF;
    --grey: #D9D9D9;
    --light-grey: #F2F2F2;
    --black: rgb(0, 0, 0);
    --white: #FFFFFF;
}

body {
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
    font-family: "Raleway", sans-serif;
}

a {
    text-decoration: none;
    color: var(--black);
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
}

header img {
    width: 61px;
    height: 19px;
    margin: 30px 0 0;
}

header nav {
    display: flex;
    gap: 68px;
}

.header-link a {
    padding-top: 14px;
    color: var(--black);
    font-size: 16px;
}

.header-link a:hover {
    border-top: solid var(--blue) 2px;
    color: var(--blue);
}

/* Menu section */
.menu {
    margin: 30px 50px;
}

.menu-content {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.title {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.title h1 {
    font-size: 22px;
    font-weight: 700;
}

.title p {
    font-size: 16px;
    font-weight: 400;
}

form {
    width: 100%;
    max-width: 377px;
    display: flex;
}

form .fa-location-dot {
    width: 50px;
    height: 49px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: var(--light-grey);
}

form input {
    width: 100%;
    height: 49px;
    min-width: 0;
    padding: 14px;
    border: solid 1px;
    border-right: none;
    border-color: var(--light-grey);
    font-size: 18px;
    color: var(--black);
    font-weight: 700;
}

form button {
    height: 49px;
    padding: 15px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: var(--blue);
    color: var(--white);
    font-family: inherit;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
}

form button .fa-magnifying-glass {
    display: none;
}

fieldset {
    border: none;
    display: flex;
    align-items: center;
    gap: 15px;
}

legend {
    float: left;
    font-size: 18px;
    font-weight: 700;
}

input[type="checkbox"] {
    appearance: none;
}

.filter-option {
    border: solid 2px var(--light-grey);
    border-radius: 25px;
    height: 50px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 4px 19px;
    cursor: pointer;
}

.filter-option i {
    color: var(--blue);
    font-size: 22px;
}

.filter-option:has(input:hover, :checked) {
    background-color: var(--light-blue);
}

.filter-option span {
    font-size: 17px;
    font-weight: 700;
}

.info {
    display: flex;
    gap: 10px;
    align-items: center;
}

.info i {
    border: solid var(--light-grey) 1px;
    width: 24px;
    height: 24px;
    color: var(--blue);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    flex-shrink: 0;
}

.info p {
    font-size: 16px;
    font-weight: 400;
}

/* Hebergements */
.hebergements {
    margin: 30px 50px;
    display: flex;
    gap: 40px;
}

.hebergements-list-left {
    padding: 30px;
    background-color: var(--light-grey);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.hebergements-list-left h2 {
    font-size: 22px;
    font-weight: 700;
}

.hebergements-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.hebergements-cards img {
    width: 100%;
    aspect-ratio: 2/1;
    object-fit: cover;
    border: solid var(--white) 5px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergement-card h3 {
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
}

.hebergement-card p {
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
}

span.euro {
    font-weight: 600;
}

.hebergement-card .card-content .rating {
    font-size: 16px;
    color: var(--blue);
    line-height: 13.25px;
}

.card-content .rating .neutral-star {
    color: var(--light-grey);
}

.hebergement-card {
    border-radius: 20px;
    padding-bottom: 15px;
    background-color: white;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.1);
}

.hebergement-card:hover {
    transform: scale(1.01);
}

.hebergement-card .card-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 0 15px;
}

.sublink a {
    font-size: 18px;
    font-weight: 700;
}

.hebergements-list-right {
    background-color: var(--light-grey);
    border-radius: 15px;
    padding: 30px;
    width: 429px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.popular-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular-title h2 {
    font-size: 22px;
}

.popular-title i {
    color: var(--blue);
    font-size: 18px;
}

.popular-cards {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.popular-card {
    display: flex;
    align-items: center;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.popular-card:hover {
    transform: scale(1.01);
}

.popular-card img {
    width: 123px;
    height: 146px;
    object-fit: cover;
    border-right: none;
    border: solid 5px var(--white);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.popular-card .card-content {
    width: 246px;
    height: 146px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 10px 5px 10px 15px;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-content .card-text {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.card-content .card-text h3 {
    font-size: 16px;
    font-weight: 700;
}

.card-content .card-text p {
    font-size: 14px;
}

.popular-card .card-content .rating {
    width: 68px;
    display: flex;
}

.popular-card .card-content .rating i {
    font-size: 12px;
    color: var(--blue);
}

.popular-card .card-content .rating .neutral-star {
    color: var(--light-grey);
}

/* Activities */
.activities {
    margin: 50px;
    padding: 0 30px;
}

.activities-content {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.activities-content h2 {
    font-size: 22px;
    font-weight: 700;
}

.activities-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.activity-card {
    width: 100%;
    height: 439px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 3px 15px 0px rgba(0, 0, 0, 0.1);
}

.activity-card:hover {
    transform: scale(1.01);
}

.activity-img {
    flex: 1;
    overflow: hidden;
}

.activity-img img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.activity-content h3 {
    font-size: 16px;
    font-weight: 700;
    color: var(--black);
    padding: 20px 19px;
}

/* Footer */
footer {
    margin: 0 50px;
}

.footer-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: var(--light-grey);

}

.footer-content nav {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer-content h3 {
    font-size: 18px;
    font-weight: 700;
}

.footer-content ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
    list-style: none;
}

/* Responsive */

@media (max-width: 1024px) and (min-width: 768px) {

    fieldset {
        display: flex;
        flex-wrap: wrap;
    }

    legend {
        width: 100%;
        margin-bottom: 10px;
    }

    .hebergements {
        display: grid;
        grid-template-columns: 1fr;
    }

    .hebergements-list-right {
        width: 100%;
        display: flex;
        gap: 20px;
    }

    .popular-cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 20px;
    }

    .popular-card img {
        min-width: 92px;
        height: 146px;
    }

    .popular-card .card-content {
        width: 100%;
        height: 146px;
    }

    .activity-card {
        height: auto;
    }

    .activity-content {
        height: 70px;
        display: flex;
        align-items: center;
    }

    .activity-img img {
        height: 200px;
    }
}

@media (max-width: 767px) {
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        gap: 10px;
        margin-bottom: 30px;
    }

    .img-header {
        padding: 0 30px;
    }

    .header-link {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0;
        width: 100%;
    }

    .header-link a {
        display: flex;
        justify-content: center;
        border-bottom: solid var(--light-grey) 2px;
        padding: 15px;
    }

    .header-link a:hover {
        border-bottom-color: var(--blue);
        border-top: none;
    }

    .menu {
        margin: 0;
    }

    .menu-content {
        padding: 0 20px 30px;
    }

    form {
        position: relative;
    }

    form input {
        margin-right: 30px;
        padding-left: 20px;
    }

    form button {
        position: absolute;
        z-index: 2;
        right: 0;
        border-radius: 15px;
        padding: 15px 16px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }

    form button span {
        display: none;
    }

    form button .fa-magnifying-glass {
        display: inline;
        font-size: 17px;
    }

    fieldset {
        display: flex;
        flex-wrap: wrap;
        gap: 18px 10px;
    }

    legend {
        width: 100%;
        margin-bottom: 10px;
    }

    .filter-option span {
        font-size: 14px;
    }

    .filter-option {
        width: calc(50% - 5px);
        display: flex;
        gap: 10px;
    }

    .hebergements {
        margin: 0;
        display: flex;
        flex-direction: column-reverse;
        gap: 15px;
    }

    .hebergements-list-right {
        border-radius: 0px;
        padding: 30px 20px;
        display: flex;
        gap: 15px;
        width: 100%;
    }

    .popular-cards {
        width: 100%;
        display: flex;
        gap: 15px;
    }

    .popular-card {
        display: flex;
        align-items: center;
    }

    .popular-card .card-content {
        width: 100%;
    }

    .popular-cards img {
        object-fit: cover;
        width: 112px;
        flex-shrink: 0;
    }

    .hebergements-list-left {
        background-color: var(--white);
        padding: 20px;
        gap: 15px;
    }

    .hebergements-cards {
        grid-template-columns: 1fr;
        gap: 15px;
    }

    .hebergement-card img {
        height: 124px;
    }

    .card-content .rating {
        width: 81px;
        display: flex;
    }

    .card-content .rating i {
        font-size: 12px;
    }

    .activities {
        margin: 0;
        padding: 30px;
    }

    .activities-cards {
        grid-template-columns: 1fr;
        gap: 15px;
    }

    .activity-card {
        height: auto;
    }

    .activity-img img {
        height: 141px;
    }

    .activity-content h3 {
        padding: 20px 19px;
    }

    footer {
        margin: 0;
        padding-top: 30px;
    }

    .footer-content {
        grid-template-columns: 1fr;
    }
}